PORT = 3000 # Express PORT
MONGO_URI = 'mongodb+srv://username:password/db_name' #MONGO DB URL
NODE_ENV = 'dev' #dev for development , prod for production
ADMIN_PASSWORD = '' #password for admin
JWT_SECRET = '' #JWT secret
AWS_REGION= ""
AWS_ACCESS_KEY_ID= ""
AWS_SECRET_ACCESS_KEY= ""
S3_BUCKET_NAME= ""